body {
  background-color: #f2f2f2;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: #383838;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.zattix-name {
  margin-bottom: 0;
  color: white;
}

.user-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.nav-link {
  font-size: 1.2rem;
}

.fi-xnsuxl-house-solid,
.fi-ctsuxl-dot-thin,
.fi-xwsuhl-shopping-cart-solid,
.fi-xwsuxl-envelope-solid {
  position: relative;
  bottom: 5px;
}
